@font-face {
  font-family: 'Rubik-Thin';
  src: url('./Rubik-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('./Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('./Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('./Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-SemiBold';
  src: url('./Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('./Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-ExtraBold';
  src: url('./Rubik-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Black';
  src: url('./Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Add other font weights as needed */ 